:root {
    --chakra-fontSizes-lg: '18px';
    --chakra-colors-gray-100: '#fafafa';
    --chakra-colors-gray-200: '#f7f7f7';
  }

.NavItems {
    display: flex;
    align-items: center;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
  }

.NavBtn {
    font-size: 20pt;
  }

.title {
    display: flex;
    justify-content: center;
    font-size: 18pt;
    font-weight: 600;
    padding: 10px;
}

 .css-1idwstw {
    display: flex;
    background-color: rgb(209, 209, 209);
}

.NavBar {
    height: 50px;
    background-color:rgb(87, 87, 222);
}